@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .dashboard-grid-layout {
        display: grid;
        column-gap: 10px;
        row-gap: 20px;
        grid:
            [row1-left]"state gauge settings" minmax(200px, auto) [row1-right]
            [row2-left]"graph graph settings" minmax(200px, auto) [row2-right]
            / minmax(150px, auto) minmax(150px, auto) minmax(150px, auto);
    }

    .forecast-state {
        grid-area: state;
    }

    .forecast-gauge {
        grid-area: gauge;
    }

    .forecast-graph {
        grid-area: graph;
    }

    .forecast-settings {
        grid-area: settings;
    }

    .evaluations-grid-layout{
        display: grid;
        column-gap: 10px;
        row-gap: 20px;
        grid:
            [row1-left]"title title settings" minmax(200px, auto) [row1-right]
            [row2-left]"graph score settings" minmax(500px, auto) [row2-right]
            / minmax(150px, auto) minmax(150px, auto) minmax(100px, auto);
    }
    .evaluations-title{
        grid-area: title;
    }
    .evaluations-graph{
        grid-area: graph;
    }
    .evaluations-score{
        grid-area: score;
    }
    .evaluations-settings{
        grid-area: settings;
    }

}