@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    caret-color: transparent;
}

input, textarea {
    caret-color: auto;
}

body {
    background-color: #252a33;
    color: white;

}

:root {
    --header-height: 0px;
}


@layer utilities {

    /*For Texts*/
    .util-text-limit {
        max-font-size: var(--max-font-size);
        --max-font-size: 1rem; /* roughly 20px */
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .util-responsive-text {
        @apply sm:text-xs md:text-base lg:text-lg xl:text-lg
    }

    /* For Setting Scrollbar width to none*/
    .util-no-sb-length {
        scrollbar-gutter: auto;
        scrollbar-width: none;
    }

    /* Prevent text selection */
    .no-select {
        user-select: none;
    }

    /* Remove focus outline */
    *:focus {
        outline: none;
    }

    .layout-grid-forecasts-page {
        display: grid;
        width: 100%;
        height: calc(100vh - var(--header-height));
        gap: 0.5rem;
        grid-template-columns: minmax(0, 2fr) 0.1fr minmax(0, 1.2fr) minmax(0, 1.28fr);
        grid-template-rows: minmax(0, 0.6fr) minmax(0, 1.1fr) 0.8rem minmax(20px, 0.2fr) minmax(0, 2fr);
        grid-template-areas:
    "nowcastHeader nowcastHeader nowcastHeader settings"
    "nowcastThermo verticalSeparator nowcastGauge settings"
    "separator separator separator settings"
    "chartHeader chartHeader chartHeader settings"
    "graph graph graph settings";
    }

    .nowcast-header {
        grid-area: nowcastHeader;
        scrollbar-gutter: auto;
        scrollbar-width: none;
    }

    .forecast-graph {
        overflow: scroll;
        scrollbar-gutter: auto;
        scrollbar-width: none;
    }

    .nowcast-thermo, .nowcast-gauge, .settings-panel {
        width: 100%;
        height: 100%;
    }

    .nowcast-thermo {
        grid-area: nowcastThermo;
    }

    .vertical-separator {
        grid-area: verticalSeparator;
        width: 100%;
        height: 100%;
        /*display: flex;
        justify-content: center;
        align-items: center;*/
    }

    .nowcast-gauge {
        grid-area: nowcastGauge;
    }

    .settings-panel {
        grid-area: settings;
        overflow: scroll;
        scrollbar-gutter: auto;
        scrollbar-width: none;
    }

    .horizontal-separator {
        grid-area: separator;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chart-header {
        grid-area: chartHeader;
    }

    .forecast-graph {
        grid-area: graph;
    }

    .forecast-drag-bar {
        grid-area: dragBar;
        /*border: 1px solid white;*/
    }

    /*NOTE: For `NowcastGauge` Component's popover tooltip*/
    .tooltip {
        position: absolute;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px;
        border-radius: 5px;
        pointer-events: none;
    }


    /*NOTE: Below are for NowcastStateThermo Component*/
    .nowcast-state-thermo-grid-layout {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas:
    "map-svg thermometer thermo-legend-area"
    "thermo-legend-boxes thermo-legend-boxes thermo-legend-area";
        grid-template-columns: 3fr 1fr 2fr;
        grid-template-rows: 4fr 1fr;
        gap: 5px;
        padding-bottom: 10px;

    }

    .nowcast-state-thermo-grid-layout > div {
        overflow: hidden;
    }

    .map-svg {
        grid-area: map-svg;
    }

    .thermometer {
        grid-area: thermometer;
    }

    .thermo-legend-area {
        grid-area: thermo-legend-area;

    }

    .thermo-legend-boxes {
        grid-area: thermo-legend-boxes;
    }


    /*NOTE: Below are for NowcastGauge Component*/
    .layout-grid-nowcast-gauge {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas:
            "gauge-chart"
            "gauge-legend";
        grid-template-columns: 1fr;
        grid-template-rows: 6fr 1fr;
        overflow: scroll;
        scrollbar-gutter: auto;
        scrollbar-width: none;
        --webkit-scrollbar-width: none;
    }


    .gauge-chart {
        grid-area: gauge-chart;
    }

    .gauge-legend {
        grid-area: gauge-legend;
    }

    /*CSS for Styled Date Picker's Components*/
    .styled-date-picker .react-datepicker-wrapper,
    .styled-date-picker .react-datepicker__input-container {
        display: block;
        width: 100%;
    }

    .styled-date-picker .react-datepicker__input-container input {
        width: 100%;
    }
}