@import './reset.css';
@import './utility/common.css';
/*@import './component_styles/forecast-page.css';*/
@import './component_styles/nowcast-gauge.css';
@import './component_styles/nowcast-thermo.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    caret-color: transparent;
}

/* Remove focus outline */
*:focus {
    outline: none;
}

input, textarea {
    caret-color: auto;
}

body {
    background-color: #252a33;
    color: white;

}

:root {
    --header-height: 4rem;
}

@media (min-width: 768px) {
    :root {
        --header-height: 5rem; /* Larger screens */
    }
}